@media (max-width: 1200px)
  .header
    &-container
      max-width: 960px
      
  .container
    max-width: 960px

    
@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-container
      max-width: 700px
@media (max-width: 768px)
  .header
    &-container
      max-width: 650px
      width: 92%
  // стили для header
  .header
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 99
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #fff
      z-index: 20
    &__body
      z-index: 19
      display: flex
      justify-content: space-between
      align-items: center
      padding: 18px 0 18px 0
    &-menu
      position: fixed
      top: -100%
      left: 2.5%
      width: 95%
      height: 100%
      background-color: #fff
      padding: 26px 0 0 0
      transition: all 0.4s ease 0s
      overflow: auto
      z-index: 30
      &__list
        display: flex
        flex-direction: column
        padding: 0
        overflow: auto
        margin-left: 5%
        margin-right: 5%
        align-items: flex-start
      &__item
        list-style: none
        margin-bottom: 20px
      &__link
        text-decoration: none
        list-style: none
        color: black
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        color: $title-color
      &--active
        top: 10px
        margin: auto
        max-height: 322px
        box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      &__button
        width: 100%
        height: 40px
        padding-top: 9px
        padding-bottom: 9px
    &__logo
      flex: 0 0 120px
      z-index: 20
      position: relative
    &-burger
      display: block
      position: relative
      width: 22px
      height: 17px
      z-index: 40
      &:before, &:after
        content: ''
        background-color: $secondary-color
        position: absolute
        width: 100%
        height: 2px
        left: 0
        border-radius: 5px
      &:before
        top: 0
      &:after
        bottom: 0
      &__line
        position: absolute
        width: 100%
        height: 2px
        background-color: $secondary-color
        left: 0
        top: 8px
        transition: all 0.4s ease 0s
        border-radius: 5px
      &--active
        position: absolute
        right: 32px
        top: 30px
        &:before
          transform: rotate(45deg)
          top: 7px
          transition: all 0.4s ease 0s
        &:after
          transform: rotate(-45deg)
          bottom: 8px
          transition: all 0.4s ease 0s
        &__line
          transform: scale(0) 
          // конец стилей для header============================================================
          // стили для main=====================================================================
  .main
    &-container
      max-width: 728px
    &-wrapper
      margin-top: 90px
      background-position: left 0px bottom 60%
      background-size: 150%
      &:after
        content: ''
        position: absolute
        left: 10px
        top: 0
        right: 0
        bottom: 0
        background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 30.34%, #E8EAE9 55%)
        z-index: -3
        background-image: url(../../img/main/background.png) no-repeat
        left: 0
        top: 0
        right: 0
        bottom: 0
        border-radius: 8px
    &-discription
      padding: 36px 0 44px 28px
      max-width: 500px
      font-size: 18px
      line-height: 32px
    &__title 
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      // GROTESK
      max-width: 440px
    &__text
      font-size: 18px
      line-height: 32px
      max-width: 400px
      margin-bottom: 36px
    &__button
      margin-bottom: 40px
    &-links
      max-width: 407px

@media (max-width: 576px) and (min-width: 320px)
  // стили для header
  .header
    &-container
      max-width: 95%
    &-burger
      &--active
        right: 29px
        top: 29px
//  ===================================================================header
@media (max-width: 320px)
  .container
    max-width: 92%
 
