.main
  &-container
    max-width: 1280px
    margin: 0 auto
  &-wrapper
    border-radius: 8px
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 30.34%, #E8EAE9 55%)
      z-index: -3
      border-radius: 8px
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: url(../img/main/imagebg.png) no-repeat
      background-size: 85%
      background-position: left 357px bottom 58%
      background-color: #E8EAE9
      z-index: -4
      border-radius: 8px
  &-discription
    padding: 70px 0 46px 107px
    max-width: 700px
  &__hashtag
    background-color: blue
    padding: 6px 16px
    border-radius: 200px
    background-color: #fff
    background: rgba(54, 179, 126, 0.1)
    color: #36B37E
    text-transform: uppercase
    font-style: normal
    font-size: 14px
  &__title
    font-family: $hk-grotesk700
    margin-top: 38px
    max-width: 510px
    // font-style: normal
    // font-weight: bold
    font-size: 56px
    line-height: 68px
    color: $title-color
    margin-bottom: 28px
    letter-spacing: 0.2px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    max-width: 652px
    color: $font-color
    margin-bottom: 48px
  &__button
    padding: 16px 40px
    background-color: $title-color
    border-radius: 8px
    color: #fff
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    margin-bottom: 48px
    cursor: pointer
  &-links
    display: flex
    max-width: 427px
    align-items: center
    justify-content: space-between
  &-link
    font-family: $hk-grotesk600
    display: flex
    align-items: center
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 20px
    flex-direction: row
    color: $title-color
  &__icon
    margin-right: 6px
